/* Projects Container Style File */

.projects_container{
    /* border: 1px solid red; */

    padding: 1vw 1vh;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 2vh;
    column-gap: 2vw;
}

.projects_heading_container{
        /* border: 1px solid red; */

        display: flex;
        align-items: center;
        justify-content: center;
    
        padding: 1vw 1vh;
    
        margin-top: 5vh;
}

.projects_txt{
        /* border: 1px solid red; */
        border-radius: 25px;

        background-color: #191919;
    
        color: #EEEEEE;
    
        width: 25%;
    
        display: flex;
        align-items: center;
        justify-content: center;
}

.project{
        /* border: 1px solid red; */
        border-radius: 15px;

        background-color: #191919;
    
        height: 50vh;
}

.project_txt_container{
    /* border: 1px solid red; */

    color: #EEEEEE;

    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 2vh;
}

.project_txt{
    /* border: 1px solid red; */
    border-radius: 15px;

    background-color: #0F0F0F;

    width: 25%;

    display: flex;
    align-items: center;
    justify-content: center;
}